* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

body.dark {
  background: #222;
  color: #eee;
}

a {
  color: #0099ff;
}

.wrapper:after {
  display: table;
  content: '';
  clear: both;
}

.wrapper > div {
  float: left;
  overflow: hidden;
}

.feeds {
  width: calc(25vw - 2rem);
  min-width: calc(300px - 2rem);
  margin: 2rem;
  margin-right: 0;
}

.feeds a {
  color: inherit;
  text-decoration: none;
}

.feeds .group {
  padding: 1rem;
  background: White;
}

.feeds .group.active h3 {
  text-decoration: underline;
}

.feeds .nav {
  user-select: none;
  background: White;
}

.feeds .nav h3 {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  cursor: pointer;
}

.feeds .nav span {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
}

.feeds .nav .info {
  overflow: hidden;
  white-space: nowrap;
}

.feeds .nav .counter {
  font-weight: normal;
  flex: 10%;
  text-align: right;
  font-style: italic;
}

.feeds ul li {
  line-height: 2;
  padding-left: 20px;
  list-style-type: none;
}

.feeds ul li.active {
  font-weight: bold;
  text-decoration: underline;
}

.items {
  width: calc(75vw - 4rem);
  max-width: calc(100vw - 300px - 4rem);
  margin: 2rem;
}

.items article {
  overflow: hidden;
  margin: 0 auto 2rem auto;
  background: White;
  padding: 1rem;
}

.items article.new {
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.items article > * {
  margin: .25rem;
}

.items article p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.items article h4 a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.items article h6 {
  font-weight: normal;
  color: #aaa;
}

.favicon {
  background-repeat: no-repeat;
  background-position: center left;
  white-space: nowrap;
  overflow: hidden;
}

body.dark .feeds .group, body.dark .feeds .nav, body.dark .items article {
  background: #444;
}

@media screen and (min-width: 800px) {
  .feeds div.nav {
    position: fixed;
    width: calc(25vw - 2rem);
    min-width: calc(300px - 2rem);
    z-index: 1;
    top: 0;
    border-bottom: 2rem solid #f4f4f4;
    border-top: 2rem solid #f4f4f4;
  }

  body.dark .feeds div.nav {
    border-bottom-color: #222;
    border-top-color: #222;
  }

  .feeds .all {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .wrapper > div {
      width: calc(100vw - 4rem);
      min-width: calc(100vw - 4rem);
      max-width: calc(100vw - 4rem);
  }

  .items {
    margin-top: 0 !important;
    position: relative;
    width: calc(100vw - 6rem);
    z-index: 1000;
  }

  .feeds {
    margin: 0 2rem !important;
    position: sticky;
    width: calc(100vw - 6rem);
    top: 0;
    z-index: 2000;
    border-top: 2rem solid #f4f4f4;
    border-bottom: 2rem solid #f4f4f4;
  }

  body.dark .feeds {
    border-bottom-color: #222;
    border-top-color: #222;
  }

  .feeds.show > div:not(.nav) {
    display: block !important;
  }

  .feeds.show {
    position: absolute;
  }

  .feeds .nav {
    display: block;
  }

  .feeds > div:not(.nav) {
    display: none;
  }
}
