* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

body.dark {
  background: #222;
  color: #eee;
}

a {
  color: #0099ff;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper:after {
  display: table;
  content: '';
  clear: both;
}

.wrapper > div {
    overflow: hidden;
    width: calc(100% - 4rem);
    max-width: calc(800px - 4rem);
}


.feeds {
  width: calc(100% - 6rem);
  max-width: calc(800px - 6rem);
  margin: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 2000;
  border-top: 2rem solid #f4f4f4;
  border-bottom: 2rem solid #f4f4f4;
}

.feeds.show > div:not(.nav) {
  display: block !important;
}

.feeds.show {
  position: absolute;
}

.feeds .nav {
  display: block;
}

.feeds > div:not(.nav) {
  display: none;
}

.feeds a {
  color: inherit;
  text-decoration: none;
}

.feeds .group {
  padding: 1rem;
  background: White;
}

.feeds .group.active h3 {
  text-decoration: underline;
}

.feeds .nav {
  user-select: none;
  background: White;
}

.feeds .nav h3 {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  cursor: pointer;
  padding: 0 .5rem;
}

.feeds .nav span {
  display: table-cell;
  padding: 1rem .5rem;
  line-height: 1;
  vertical-align: middle;
}


.feeds .nav .info {
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;
  margin-right: .5rem;
}

.feeds .nav .counter {
  font-weight: normal;
  font-style: italic;
  margin-right: 1rem;
  font-size: 80%;
}

.feeds ul li {
  line-height: 2;
  padding-left: 1.5rem;
  list-style-type: none;
}

.feeds ul li.active {
  font-weight: bold;
  text-decoration: underline;
}

.items {
  width: calc(100% - 4rem);
  max-width: calc(800px - 4rem);
  margin: 2rem;
  margin-top: 0 !important;
  position: relative;
  z-index: 1000;
}

.items article {
  overflow: hidden;
  margin: 0 auto 2rem auto;
  background: White;
  padding: 1rem;
}

.items article.new {
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.items article > * {
  margin: .25rem;
}

.items article p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.items article h4 a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.items article h6 {
  font-weight: normal;
  color: #aaa;
}

.favicon {
  background-repeat: no-repeat;
  background-position: center left;
  white-space: nowrap;
  overflow: hidden;
}

body.dark .feeds {
  border-bottom-color: #222;
  border-top-color: #222;
}

body.dark .feeds .group, body.dark .feeds .nav, body.dark .items article {
  background: #444;
}
